gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/
/.kotlin

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions

# Android
android/.gradle/
android/key.properties
**/*.keystore
**/*.jks
android/local.properties

# iOS/macOS
ios/Flutter/Generated.xcconfig
ios/Runner.xcworkspace/
ios/.symlinks/
macos/Flutter/Generated.xcconfig
macos/Runner.xcworkspace/
macos/.symlinks/

# Others
*.iml
.idea/
.vscode/
*.log
*.tmp
*.lock
*.DS_Store
